@model IEnumerable<ProyectoFinalProgIII.VIewModels.FacturaListVM>
@using Microsoft.AspNetCore.Identity
@using ProyectoFinalProgIII.Data;
@inject SignInManager<Usuarios> SignInManager
@inject UserManager<Usuarios> UserManager

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{

    <h1>Facturacion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.TipoFactura)*@
                Tipo de Factura
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Cantidad)*@
                Cantidad
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Itbis)*@
                ITBIS
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ClienteId)*@
                 Cliente
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.UsuarioId)*@
                Usuario
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ProductosId)*@
               Producto
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ServiciosId)*@
                Servicio
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Itbis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.FacturacionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.FacturacionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.FacturacionId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

}
else
{

}