@model IEnumerable<ProyectoFinalProgIII.Data.Facturacion>
@using Microsoft.AspNetCore.Identity
@using ProyectoFinalProgIII.Data;
@inject SignInManager<Usuarios> SignInManager
@inject UserManager<Usuarios> UserManager

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{

    <h1>Facturacion</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Itbis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UsuarioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductosId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiciosId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoFactura)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Itbis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsuarioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductosId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiciosId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.FacturacionId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.FacturacionId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.FacturacionId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

}
else
{

}